@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
@import "_variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-weight: 300;
    font-family: "Poppins";

    background: linear-gradient(
        180deg,
        rgba(235, 112, 96, 1) 0%,
        rgba(181, 93, 81, 1) 50%
    );
    color: $text-main;
}

.title {
    // font-family: "Chelsea Market";
    text-align: center;
    font-size: 54pt;
    color: $not-quite-white;
    margin-top: 4rem;
    margin-bottom: 0.1rem;
}
p {
    font-family: "Anonymous Pro", monospace;
    text-align: center;
    color: $not-quite-white;
    margin-bottom: 2rem;
}

.main {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 2.5rem 1.5rem;
    padding-bottom: 0;
    max-width: 50%;
    border-radius: 2px;
    background-color: $not-quite-white;
    box-shadow: 8px 8px 4px #b05a4f;
    .add-todo-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            background: transparent;
            width: 70%;
            border: none;
            border: 2px solid $primary-orange;
            line-height: 1;
            padding: 0.5rem;
            font-size: 16px;
            color: #333333;
            &:focus {
                outline: none;
            }
        }
        .icon {
            background-color: $primary-orange;
            display: grid;
            place-items: center;
            width: 45px;
            height: 45px;
            color: $not-quite-white;
            cursor: pointer;

            i {
                font-size: 45px;
                line-height: 1;
            }
        }
    }
    .todo-list-container {
        display: none;
        padding: 1rem;
        width: 100%;

        ul {
            padding-left: 0.5rem;

            .todo-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 24px;
                .icons {
                    display: flex;
                    .icon {
                        display: grid;
                        place-items: center;
                        width: 28px;
                        height: 28px;
                        i {
                            font-size: 24px;
                            line-height: 1;
                        }
                    }
                }
            }
        }
    }

    .tabs {
        margin-top: 2rem;
        margin-bottom: 0;
        .nav-link {
            cursor: pointer;
            transition: none !important;
            background: transparent;
        }
        .nav-link.active {
            color: $primary-orange;
            border: none;
        }
        .nav-link:hover {
            border: none;
            color: $primary-orange;
        }
    }
}

.done:hover {
    color: #298920;
}

.remove:hover {
    color: #ea1a0c;
}

@media screen and (min-width: 767px) {
    .main {
        min-width: 600px;
        padding: 3.5rem 1.5rem;
        padding-bottom: 0;

        .add-todo-box {
            input {
                font-size: 22px;
            }
            .icon {
                width: 54px;
                height: 54px;

                i {
                    font-size: 48px;
                }
            }
        }
        .todo-list-container {
            padding: 2.5rem;

            ul {
                padding-left: 1rem;
            }
        }
    }
}
