@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 300;
    font-family: "Poppins";
    background: url("/assets/science.png");
    background-repeat: repeat;
    color: #333333;
}

body::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
}

.title {
    font-family: "Chelsea Market";
    text-align: center;
    font-size: 68pt;
    color: #fff;
    margin: 4rem auto;
}

.main {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 2.5rem 1.5rem;
    max-width: 50%;
    border-radius: 8px;
    background-color: #fff;

    .add-todo-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            width: 70%;
            border: none;
            border: 2px solid #ff7665;
            line-height: 1;
            padding: 0.5rem;
            font-size: 16px;
            color: #333333;
            &:focus {
                outline: none;
            }
        }
        .icon {
            background-color: #ff7665;
            display: grid;
            place-items: center;
            width: 45px;
            height: 45px;
            color: #fff;
            cursor: pointer;

            i {
                font-size: 45px;
                line-height: 1;
            }
        }
    }
    .todo-list-container {
        display: none;
        padding: 1rem;
        width: 100%;

        ul {
            padding-left: 0.5rem;

            .todo-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 18px;
                .icons {
                    display: flex;
                    .icon {
                        display: grid;
                        place-items: center;
                        width: 28px;
                        height: 28px;
                        i {
                            font-size: 24px;
                            line-height: 1;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .main {
        min-width: 600px;
        padding: 3.5rem 1.5rem;

        .add-todo-box {
            input {
                font-size: 22px;
            }
            .icon {
                width: 54px;
                height: 54px;

                i {
                    font-size: 48px;
                }
            }
        }
        .todo-list-container {
            padding: 2.5rem;

            ul {
                padding-left: 1rem;
            }
        }
    }
}
