@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 300;
    font-family: "Poppins";
    background: url("/assets/science.png");
    //background-color: #f0f0f0;
    background-repeat: repeat;
    color: #333333;
}

.title {
    font-family: "Chelsea Market";
    text-align: center;
    font-size: 68pt;
    color: #fff;
    margin: 4rem auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1.5rem;
    max-width: 50%;
    border-radius: 20px;
    background-color: #fff;

    .add-todo-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            border: none;
            border: 2px solid #ff7665;
            line-height: 1;
            padding: 0.5rem 1rem 0.5rem 1rem;
            font-size: 22px;
            color: #333333;
            &:focus {
                border-bottom: 2px solid #b25246;
                outline: none;
            }
        }
        .icon {
            background-color: #ff7665;
            display: grid;
            place-items: center;
            width: 54px;
            height: 54px;
            color: #fff;
            cursor: pointer;

            i {
                font-size: 48px;
                line-height: 1;
            }
        }
    }
    ul {
        border: 1px solid black;
        padding-left: 0;
    }
    .todo-item {
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;

        .icons {
            display: flex;
            .icon {
                display: grid;
                place-items: center;
                width: 28px;
                height: 28px;
                i {
                    font-size: 24px;
                    line-height: 1;
                }
            }
        }
    }
}
